{% extends 'layout.twig' %}

    {% block head %}
        {# <link href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" rel="stylesheet"> #}
        <link href="/css/bootstrap-editable.css" rel="stylesheet"/>
        <style>
            .fstToggleBtn {
                padding: 5px 0;
            }
            .fstResultItem {
                padding: 1px 10px;
            }
        </style>
    {% endblock %}

    {% block body %}
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{title}}</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                        <div class="table-responsive m-t-40">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        {# <th>Avatar</th> #}
                                        <th>Weightage</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for anchor in data %}
                                        <tr>
                                            <td><a href="#" class="editable" data-type="text" data-pk='{{ anchor._id }}' data-name="name" data-send="always" data-url='/anchor/editable' data-placeholder="Required" data-value='{{ anchor.name }}'></a></td>
                                            {# <td><a href="#" class="editable" data-type="text" data-id='{{ anchor._id }}' data-name="avatar" data-send="always" data-url='/anchor/editable' data-value='{{ anchor.avatar }}'></a></td> #}
                                            <td><a href="#" class="editable" data-type="number" data-pk='{{ anchor._id }}' data-name="weightage" data-send="always" data-url='/anchor/editable' data-value='{{ anchor.weightage }}'></a></td>
                                            <td class="text-nowrap">
                                                <a class="delete" href="#" data-toggle="tooltip" data-original-title="Delete" data-url="/anchor?_id={{anchor._id}}"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>  
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                        <h2>Add Anchor</h2>
                        <form method="post" action="/anchor">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="title" name="name" placeholder="Name">
                                </div>
                                {# <div class="col-6">
                                    <input id="upload-input" class="dropify" type="file" name="avatar"></br>
                                </div> #}
                                <div class="col-6">
                                    <input type="number" class="form-control" id="title" name="weightage" placeholder="Weightage">
                                </div>
                                <div class="col-12">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary float-right" style="margin: 20px 0; width: 200px;">Add Anchor</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>     
         </div>
    {% endblock %}
    {% block foot %}
    
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        {# For thumbnails drag and drop #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script> #}
        <script src="/js/bootstrap-editable.min.js"></script>
        <script>
            $(document).ready(function() {

                // Initialize Datatable
                $('#myTable').DataTable({
                    "columnDefs": [
                        {
                            "orderDataType": "dom-input",
                            "targets": 0,   // Just the first column
                        }
                    ],
                    "iDisplayLength": 50  
                });
    
                // Initialize Editable
                $.fn.editable.defaults.mode = 'inline';     
                $('.editable').editable();

                // Initialize Dropfiy Fileupload (disabled for now)
                {# $('.dropify').dropify(); #}

                // Delete
                $(".delete").click(function () {
                    let url = $(this).attr("data-url");

                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(data) {
                            alert(data);
                            location.reload();
                        }
                    });
                });
                
                // Re-initialize editable and delete handler on pagination
                $(".dataTables_paginate").click(function() {
                    console.log('Handler for .click() called.');

                    // Editable
                    $('.editable').editable();

                    // Delete
                    $(".delete").click(function () {
                        let url = $(this).attr("data-url");
                        $.ajax({
                            url: url,
                            type: 'DELETE',
                            success: function(data) {
                                alert(data);
                                location.reload();
                            }
                        });
                    });
                });

            });
        </script>
    {% endblock %}       