{% extends 'layout.twig' %}

    {% block head %}
        <link href="/css/bootstrap-editable.css" rel="stylesheet"/>
        <style>
            .fstToggleBtn {
                padding: 5px 0;
            }
            .fstResultItem {
                padding: 1px 10px;
            }
        </style>
    {% endblock %}

    {% block body %}
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Topics</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                        <div class="table-responsive m-t-40">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Added Date</th>
                                        <th>Weightage</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for topic in list %}
                                        <tr>
                                            <td><a href="#" class="editable" data-type="text" data-pk='{{ topic._id }}' data-name="name" data-send="always" data-url='/topic/editable' data-value='{{ topic.name }}'></a></td>
                                            <td>{{ topic.added_dtm|date("Y-m-d H:i:s", false) }}</td>
                                            <td><a href="#" class="editable" data-type="number" data-pk='{{ topic._id }}' data-name="weightage" data-send="always" data-url='/topic/editable' data-value='{{ topic.weightage }}'></a></td>
                                            <td class="text-nowrap">
                                                <a class="delete" href="#" data-toggle="tooltip" data-original-title="Delete" data-url="/topic/delete?_id={{ topic._id }}"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>  
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                        <h2>Add Topic</h2>
                        <form method="post" action="/topic/add">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" class="form-control" id="title" name="name" placeholder="Name">
                                </div>
                                <div class="col-6">
                                    <input type="number" class="form-control" id="title" name="weightage" placeholder="Weightage">
                                </div>
                                <div class="col-12">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary float-right" style="margin: 20px 0; width: 200px;">Add Topic</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>     
         </div>
    {% endblock %}
    {% block foot %}
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="/js/bootstrap-editable.min.js"></script>
        <script>
            $(document).ready(function() {

                // For sorting Weightage
                $.fn.dataTable.ext.order['dom-input'] = function (settings, col) {
                    return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
                        return $('input', td).val();
                    });
                }
                
                // Initialize Datatable
                $('#myTable').DataTable({
                    "columnDefs": [
                        {
                            "orderDataType": "dom-input",
                            "targets": 0, // Just the first column
                        }
                    ],
                   "iDisplayLength": 50     
                });
                
                // Initialize Editable
                $.fn.editable.defaults.mode = 'inline';     
                $('.editable').editable();

                // Delete
                $(".delete").click(function () {
                    var url = $(this).attr("data-url");
                    $.get(url, function (data) {
                        location.reload();
                    });
                });

                // Initialize editable on pagination
                $(".dataTables_paginate").click(function() {
                    $('.editable').editable();

                    // Delete
                    $(".delete").click(function () {
                        var url = $(this).attr("data-url");
                        $.get(url, function (data) {
                            location.reload();
                        });
                    });

                });
            });
        </script>
    {% endblock %}       