{% extends '../layout.twig' %}

    {% block head %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" rel="stylesheet">
        <style>
            .fstElement {
                font-size: 0.8em;
            }
            .fstElement {
                width: 100%;
            }
        </style>
    {% endblock %}

    {% block body %}

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{ title }}</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form id="videoform" method="post" action="/video/edit/{{ video._id }}">
                <div class="row card card-body" style="flex-direction: row;">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ video.title }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div>Description</div>
                                <textarea id="summernote" name="description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div>Category</div>
                                <input  
                                    id="category"
                                    type="text"
                                    class="fastSelect"
                                    value='{{ video.category }}'
                                    data-initial-value='[{"text": "{{ video.category }}", "value" : "{{ video.category }}"}]'
                                    data-user-option-allowed="true"
                                    data-url="/category/html_cats"
                                    data-load-once="true"
                                    name="category"
                                />
                                {# REMOVED, SUB CATS CAN BE USED IN FUTURE #}
                                {# <div>SubCategory</div>
                                <select id="sub_category" class="form-control" name="sub_category" style="height: 300px;" multiple>
                                </select> #}
                            </div>
                            <div class="col-6">
                                <div>Sub Category</div>
                                <input  
                                    id="sub_category"
                                    type="text"
                                    class="fastSelect"
                                    value='{{ video.sub_category }}'
                                    data-minitial-value='[{"text": "{{ video.sub_category }}", "value" : "{{ video.sub_category }}"}]'
                                    data-user-option-allowed="true"
                                    data-url="/subcategory/html_cats"
                                    data-load-once="true"
                                    name="sub_category"
                                />
                            </div>

                            <div class="col-6">
                                <div class="margin-top-15">
                                    <div>Last Video ({{video.last_video}})</div>
                                    <input  
                                        id="last_video"
                                        type="text"
                                        class="fastSelect"
                                        value='{{ video.last_video }}'
                                        data-minitial-value='[{"text": "{{ video.last_video }}", "value" : "{{ video.last_video }}"}]'
                                        data-user-option-allowed="true"
                                        data-url="/video/search"
                                        data-load-once="false"
                                        name="last_video"
                                    />    
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="margin-top-15">
                                    <div>Next Video ({{video.next_video}})</div>
                                    <input  
                                        id="next_video"
                                        type="text"
                                        class="fastSelect"
                                        value='{{ video.next_video }}'
                                        data-minitial-value='[{"text": "{{ video.next_video }}", "value" : "{{ video.next_video }}"}]'
                                        data-user-option-allowed="true"
                                        data-url="/video/search"
                                        data-load-once="false"
                                        name="next_video"
                                    />
                                    </div>    
                                </div>
                            </div>

                            <div class="col-6">
                                <div>Source</div>
                                <input  
                                    id="source"
                                    type="text"
                                    class="fastSelect"
                                    multiple
                                    value='{{ video.source }}'
                                    data-initial-value='[{"text": "{{ video.source }}", "value" : "{{ video.source }}"}]'
                                    data-user-option-allowed="true"
                                    data-url="/channel/html"
                                    data-load-once="true"
                                    name="source"
                                />
                            </div>

                        </div>
                    </div>
                    <div class="col-4">  
                        <div class="row">  
                            <div class="col-12">
                                <div>
                                    <div>Topics</div>
                                    <input  
                                        id="topics"
                                        type="text"
                                        multiple
                                        class="fastSelect"
                                        value='{{ video.topics }}'
                                        data-initial-value='{{ video.topicsHtml|escape }}'
                                        data-user-option-allowed="true"
                                        data-url="/topic/html"
                                        data-load-once="true"
                                        name="topics"
                                    />
                                    <div>Program</div>
                                    <input  
                                        id="program"
                                        type="text"
                                        class="fastSelect"
                                        value='{{ video.program }}'
                                        {% if video.program %}
                                        data-initial-value='[{"text": "{{ video.program|escape }}", "value" : "{{ video.program|escape }}"}]'
                                        {% else %}
                                        data-initial-value=''
                                        {% endif %}
                                        data-user-option-allowed="true"
                                        data-url="/program/html"
                                        data-load-once="true"
                                        name="program"
                                    />
                                    <div>Anchor</div>
                                    <input  
                                        id="anchor"
                                        type="text"
                                        class="fastSelect"
                                        value='{{ video.anchor }}'
                                        {% if video.anchor %}
                                        data-initial-value='[{"text": "{{ video.anchor }}", "value" : "{{ video.anchor }}"}]'
                                        {% else %}
                                        data-initial-value=''
                                        {% endif %}
                                        data-user-option-allowed="true"
                                        data-url="/anchor/html"
                                        data-load-once="true"
                                        name="anchor"
                                    />
                                    <div>Premium</div>
                                    <select
                                        id="is_premium"
                                        class="fastSelect"
                                        name="is_premium"
                                    >
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>

                                    {# REMOVED, can be used in future #}
                                    {# <div>Guests</div>
                                    <input  
                                        id="guests"
                                        type="text"
                                        multiple
                                        class="fastSelect"
                                        value='{{ video.guests }}'
                                        data-initial-value='{{ video.guestsHtml }}'
                                        data-user-option-allowed="true"
                                        data-url="/guest/html"
                                        data-load-once="true"
                                        name="guests"
                                    /> #}
                                    <label for="input-file-now">Video</label>
                                    <div class="progress-bar" id="progress-bar"></div>
                                    {# You cant set values for files, it will be not be sent if not changed but if new video is uploaded then it will replace the name #}
                                    <input type="hidden" name="old_file_name" value="{{ video.file_name }}">
                                    <input id="upload-input" class="dropify" type="file" name="file_name"></br>
                                    <input type="hidden" id="duration" name="duration" value="{{ video.duration }}">

                                    <label for="input-file-now">Thumbnail</label>
                                    <div class="progress-bar" id="progress-bar2"></div>
                                    <input type="hidden" name="old_thumbnail" value="{{ video.thumbnail }}">
                                    <input id="upload-input2" class="dropify" type="file" name="thumbnail"></br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            
        </div>
    {% endblock %}
    {% block foot %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
        {# Bold/Italic not working in minified summernote version #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.standalone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
        <script src="/js/upload.js"></script>
        <script>
            jQuery(document).ready(function() {
                // Summernote Initialization 
                $('#summernote').summernote({
                    placeholder: 'write here...',
                    height: 350, // set editor height
                    minHeight: null, // set minimum height of editor
                    maxHeight: null, // set maximum height of editor
                    focus: false, // set focus to editable area after initializing summernote
                    styleTags: ['p', 'h1', 'h2'],
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                    ]
                });

                {# let markupStr = '{{ video.description|replace({"'": "\'"}) }}'; #}
                let markupStr = `{{video.description}}`;
                $('#summernote').summernote('code', markupStr);
                // FastSelect Initialization 
                $('.fastSelect').fastselect({
                    maxItems: 5
                });

                // Dropify File Upload Initialization 
                $('.dropify').dropify();

                // Removing selected options on Category Select.
                function removeOptions(selectbox) {
                    let i;
                    for (i = selectbox.options.length - 1; i >= 0; i--) {
                        selectbox.remove(i);
                    }
                }

                {# SUB CATS CAN BE USED IN FUTURE #}
                // Loading subcategories
                {# function loadSubcategory(val) {
                    removeOptions(sub_category);

                    $.get("/category/html_subcats?cat_name=" + val, function (data) {
                        let subCat = "{{ video.sub_category }}";

                        for(i=0; i<data.length; i++){
                            let option = document.createElement("option");

                            if (subCat == data[i].name) {
                                option.text = data[i].name;
                                option.value = data[i].name;
                                option.selected = "selected";
                            }
                            else {
                                option.text = data[i].name;
                                option.value = data[i].name;
                            }
                            sub_category.add(option);
                        }
                    });
                }

                // Load selected subcategories on page load for selected category
                loadSubcategory("{{ video.category }}");
                
                // Load subcategories for a category
                $("#category").change(function () {
                    loadSubcategory($(this).val());
                }); #}
            });
        </script>
    {% endblock %}