{% extends '../layout.twig' %}

    {% block head %}
    {% endblock %}

    {% block body %}
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{ title }}</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Added Date</th>
                                            <th>Category</th>
                                            {# <th>Feed</th> #}
                                            <th>Duration</th>
                                            <th>File Name</th>
                                            <th>Transcoding</th>
                                            <th>Status</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for video in videoList%}
                                            <tr>
                                                <td>{{video.title}}</td>
                                                <td>{{video.added_dtm|date("Y-m-d H:i:s", false)}}</td>
                                                <td>{{video.category}}</td>
                                                {# <td>{{video.feed}}</td> #}
                                                <td>{{video.duration}}</td>
                                                <td>{{video.file_name}}</td>
                                                
                                                <td>
                                                    {% if video.transcoding_status == true %}
                                                        <strong style="color:green;">100 %</strong>
                                                    {% elseif video.transcoding_status == false %}
                                                        <strong style="color:red;" class="transcode_status" data-id= {{video._id}}></strong>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if video.active %}
                                                        <strong style="color:green;">Published</strong>
                                                    {% else %}
                                                        <strong style="color:red;">Pending</strong>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap">
                                                    <a href="/video/view/{{ video._id }}" data-toggle="tooltip" data-original-title="View"> <i class="fa fa-eye text-inverse m-r-10"></i> </a>
                                                    <a href="/video/edit/{{ video._id }}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                    <a class="delete" href="#" data-toggle="tooltip" data-original-title="Delete" data-url="/video/delete?_id={{video._id}}"> <i class="fa fa-close text-danger"></i> </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            <div class="row" style="margin-top: 30px;">
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="number" id="video_limit" class="form-control" placeholder="Enter Number of videos">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" id="videolimit_button" type="button">Load More</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                    
                </div>
            </div>         
        </div>
    {% endblock %}
    {% block foot %}
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function() {
                // Initialize Datatable
                $('#myTable').DataTable({
                    "order": [[ 1, "desc" ]],
                    "iDisplayLength": 25
                });

                // Delete
                $(".delete").click(function () {
                    var url = $(this).attr("data-url");
                    $.get(url, function (data) {
                        location.reload();
                    });
                });

                // Custom videos limit
                $("#videolimit_button").click(function(e) {
                    e.preventDefault();
                        var aa = $( "#video_limit" ).val();
                        window.open('/video?limit=' + aa, '_blank');
                });
                // Work on enter key
                $("#video_limit").on('keyup', function (e) {
                    if (e.keyCode == 13) {
                        console.log( $(this).val());
                        window.open('/video?limit=' +  $(this).val(), '_blank');
                    }
                });
            });

            $(window).on('load', function () {
                // Set Transcode Status
                $('.transcode_status').each( (index, val) => {
                    var id = $(val).data('id');
                    $.get( "video/transcodestatus?_id="+id, function( data ) {
                        $(val).text(data);
                    });
                });
            });
        </script>
    {% endblock %}       