{% extends '../layout.twig' %}

    {% block head %}
        <link href="https://vjs.zencdn.net/7.2.0/video-js.min.css" rel="stylesheet">
    {% endblock %}

    {% block body %}

        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{ title }}</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <section class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="card card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="page-header">
                            {{ video.title }}
                            <small class="pull-right" style="margin-top: -17px;">
                                <button class="btn btn-rounded btn-outline-danger" onclick="retranscodeVideo()">Retranscode</button>
                                {% if video.active %}
                                    <strong disabled class="btn bg-success margin">Published</strong>
                                {% else %}
                                    <button class="btn btn-info" onclick="activateVideo()">Publish</button>
                                {% endif %}
                            </small>
                        </h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-8">
                        <video id="player" class="video-js vjs-default-skin" controls style="width: 100%; height: 100%">
                            <source src="https://webvod.goonj.pk/vod/smil:{{ video.file_name_short }}/playlist.m3u8" type="application/x-mpegURL">
                        </video>
                    </div>
                    <div class="col-sm-4">
                        <strong>Thumbnail:</strong>
                        <address>
                            <img width="270" height="240" src="https://cdn.goonj.pk/video/thumb/{{ video.thumbnail }}">
                        </address>
                        <div>
                            <strong>Video Filename:</strong>
                            {{ video.file_name }}
                        </div>
                        <div>
                            <strong>Thumbnail Filename:</strong>
                            {{ video.thumbnail }}
                        </div>
                    </div>
                </div>

                <div class="row m-t-30">
                    <div class="col-sm-12">
                        <strong>Description:</strong>
                        <address>{{ video.description }}</address>
                    </div>
                </div>

                <div class="row m-t-30">
                    <div class="col-sm-4">
                        <strong>Added Date:</strong>
                        <address>{{ video.added_dtm|date("H:i:s - m/d/Y") }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Published Time:</strong>
                        <address>{{ video.publish_dtm|date("H:i:s - m/d/Y") }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Last Modified:</strong>
                        <address>{{ video.last_modified|date("H:i:s - m/d/Y") }}</address>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Source:</strong>
                        <address>{{ video.source }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Category:</strong>
                        <address>{{ video.category }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Subcategory:</strong>
                        <address>{{ video.sub_category }}</address>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Program:</strong>
                        <address>{{ video.program }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Topics:</strong>
                        <address>{{ video.topics }}</address>
                    </div>
                    <div class="col-sm-4">
                        <strong>Anchor:</strong>
                        <address>{{ video.anchor }}</address>
                    </div>
                
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Guests:</strong>
                        <address>{{ video.guests }}</address>
                    </div>
                    <div class="col-sm-8">
                        <strong>URL:</strong>
                        <address id="link" class="link">{{ video._id }}_{{ video.slug }}</address>
                        <button class="btn" onclick="copyToClipboard('#link')">Copy URL</button>
                    </div>
                </div>
                
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            
        </section>
    {% endblock %}
    {% block foot %}
        <script src="https://vjs.zencdn.net/7.2.0/video.min.js"></script>
        <script>
            var player = videojs('player');
            player.play();
        </script>
        <script>
            // Function for activating video
            function activateVideo(){
                $.post( "/video/edit/{{ video._id }}", { active: true, publish_dtm: new Date() }, function( data ) {
                    console.log(data);
                    alert("Video Published!");
                    location.reload();             
                });
            }
            // Function for re-transcoding video
            function retranscodeVideo(){
                $.post( "/video/retranscode", { _id: '{{video._id}}', file_name: '{{video.file_name}}', duration: {{video.duration}} }, function( data ) {
                    alert(data);      
                });
            }

            function copyToClipboard(element) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
            }
        </script>
    {% endblock %}       